.home-page-image {
  background-image: url(../images/background-homepage.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-bottom: 5px solid #fff;
}

.unselected {
  filter: grayscale(100%);
}