.content-homepage {
  height: 80vh;
  width: 100vw;
}

.phrase {
  width: 30%;
  color: #5B5B5D;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28vh;
}