.jobs-content {
  height: 100%;
  width: 100vw;
}

.select {
  width: 50%;
  height: 6vh;
  border-radius: 5px;
  border: 1px solid #5b5b5d;
  background-color: #fff;
  margin: 10vh 0 10vh 13vw;
  box-shadow: 10px #5b5b5d;
}

.select option {
  color: #5b5b5d;
  font-size: 14pt;
}

.description-content {
  margin: 0 0 5vh 9vw;
}

.description p, .description h2 {
  width: 50%;
  color: #5b5b5d;
  text-align: justify;
}
