.select-language {
  height: 20vh;
  width: 30vw;
  background-color: #fff;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  position: sticky;
}

.language {
  height: 4.5vh;
  width: 25vw;
  border-radius: 5px;
  margin: 7.75vh 2.5vw;
}
